#footerId{
	/*min-height: 250px;*/
	margin: 0px auto;
	display: flex;
	flex-direction: column;
	background-color: #237d73ab;
	padding: 0px;
}

	#footerId>.title{
		width: 100%;
		flex-flow: column wrap;
		padding: 0.5em 0em 0em 0em;
		margin: 0em 0em 0.5em 0em;
	}

	#footer-info{
		display: flex;
		flex-direction: row;
		padding:0em 4em;
	}

	#footer-contact-info{
		display:flex;
		flex-direction: column;
	}

	#footer-contact-info{
		flex: 0 0 25%;
	}
		#footer-contact-info-title{
			text-align: left;
			font-weight: bold;
		}
		#footer-contact-info-title::after{
			content: '';
		    display: block;
		    position: absolute;
		    width: 10%;
		    border-top: 1px solid #292121;
		    z-index: 100;
		}

		#footer-contact-info>.footer-info-container{
			display: flex;
			flex-direction: column;
			margin-bottom: 0.5em;
			text-align: left;
		}

		#footer-contact-info>.footer-info-container>.info_element_type{
			margin-right: 3px;
			font-weight:bold;
			margin-bottom: 0.25em;
		}

		.footer-icon{
			margin-right: 0.5em
		}


	#footer-message-box{
		flex: 0 0 75%;
		text-align: right
	}


		#footer-message-box-title{
			text-align: left;
			font-weight: bold;
		}

		#footer-message-box-title::after{
			content: '';
		    display: block;
		    position: absolute;
		    width: 10%;
		    border-top: 1px solid #292121;
		    z-index: 100;	
		}

		#message-box-submit{
			border-radius: 1em
		}

		#contact-info{
			display: flex;
			justify-content: space-between;
		}

		#contact-info>.contact-info-elem{
			flex:0 1 50%;
		}

		#contact-info>.contact-info-elem:first-child{
			margin-right: 0.25em	
		}

		#contact-info>.contact-info-elem:last-child{
			margin-left: 0.25em	
		}

		#message-box-submit{
			border-radius: 1em
		}

		#footer-contact-info>.footer-info-container>.info_element_type{
			margin-right: 3px;
			font-weight:bold;
			margin-bottom: 0.25em;
		}


	#footer-social-media{
		/*display: flex;*/
		height: 150px;
		align-items: center;
		padding-top: 30px;
		/*justify-content: center;*/
		border-top: 1px solid;
	}

/*	#footer-icon-center{
		margin: auto 0em;
	}
*/

		.social_icon{
			height: 30px;
			width: auto;
			padding: 0em 1em;
		}


@media print, screen and (min-width: 40em){
	#footerId{
		padding: 0px 40px;
	}
}
@media print, screen and (min-width: 64em){
	#footerId{
		padding: 0px 100px;
	}
}
