@import '/css/footer.css';
@import '/css/title_page.css';
@import '/css/about_me.css';
@import '/css/skill.css';
@import '/css/experience.css';

body{
	text-align: center;
	align-items: center;
	justify-content: center;
}


#mainPage{
	min-height: 300px;
	padding:0;
}

.main_articles{
	padding: 5em 10% 0;
}

.main_articles:nth-child(even){
	background-color:#57bc908c;
}

.main_articles:nth-child(odd){
	background-color:#77c9d48c;
}

article>.title{
	width: 100%;
	flex-flow: column wrap;
	padding: 0.5em 0em;
	margin: 0px;
	border-bottom: 1px solid;
}

/*////////////////////////////// GRID SYSTEM //////////////////////////////////*/
.grid_x{
	display: -ms-flexbox;
	display: flex;
	-ms-flex-flow: column wrap;
	flex-flow: column wrap; 
}