body{
	text-align: center;
	align-items: center;
	justify-content: center;
}


#headerImage {
	min-height:100vh;
	margin:0px auto;
	display:flex;
	flex-direction: column;
	background-image:url('/img/hanyijie_sky_scenery_ship_anime_art_104162_2560x1024.jpg');
	background-size:cover;
	background-repeat:no-repeat;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover
}


#mainPage{
	min-height: 300px
}

#about-me{
	min-height:100vh;
}

.main_articles{
	padding: 5em 10% 0;
}

/*.main_articles:nth-child(even){
	background-color:#57bc90;
}

.main_articles:nth-child(odd){
	background-color:#77c9d4;
}
*/
article>.title{
	width: 100%;
	flex-flow: column wrap;
	padding: 0.5em 0em;
	margin: 0px;
	border-bottom: 1px solid;
}

.description{
	margin: 0;
}

.profile_pic{
	height: auto;
	width: 140px;
	overflow: hidden;
	border: 9px solid rgba(0, 0, 0, 0.05);
	margin: 0 auto;
	border-radius: 50%;
	margin: 5em 0;
}

#headerName{
	font-weight: 600;
	border-bottom: 2px solid;
	font-size: 3em;
}

#headerCarrier{
	font-size: 1.5em;
}

.title_container{
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}


/*////////////////////////////// Tool Bar ///////////////////////////////*/
.tool_bar{
	background-color: transparent;
	color: white;
	align-content: center;
	justify-content: center;
	border-top: 1px solid;
}
	.tool_bar a{
		color: white;
	}
	.tool_bar ul{
		background-color: transparent;
	}

.tool_bar_list{
	background-color: transparent;
}

.nav_elements{
	background-color: transparent;
}

/*////////////////////////////// GRID SYSTEM //////////////////////////////////*/
.grid_x{
	display: -ms-flexbox;
	display: flex;
	-ms-flex-flow: column wrap;
	flex-flow: column wrap; 
}

#skills{
	padding: 5em 15% 0;
	min-height: 100vh;
}


#skills>.skill_section{
	height: auto;
	width: 100%;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-flow: column wrap;
	flex-flow: row wrap;
	margin-top: 0.2em;
	padding: 0 1em;
} 

#skills>.skill_section>.skill_title{
	width: 100%;
	margin: 0.2em 0px;
	flex-flow: column wrap;
	text-align: left;
}

#skills>.skill_section>.skill{
	width: 50%;
	padding: 0 10px;
	display: -ms-flexbox;
	display: flex;
	flex-grow: wrap;
	margin: 10px 0px;
}
@media  screen and (max-width: 40em){
	#skills>.skill_section>.skill{
		width: 100%;
	}

	.skill_title{
		display: none;
	}
}
.skill_name{
	display: -ms-flexbox;
	display: flex;
	width: 40%
}

.skill_rating{
	padding-left: all;
	display: -ms-flexbox;
	display: flex;
	width: auto;
	margin-left: auto;
	margin-right: 3em; 
}
/*///////////////////////////////// Star /////////////////////////////////*/

.star_holder>i{
	color:#00000033;
}
.star-5>i{
	color:blue;
}

.star-4>i:nth-child(-n+4){
	color:blue;
}

.star-3>i:nth-child(-n+3){
	color:blue;
}

.star-2>i:nth-child(-n+2){
	color:blue;
}

.star-1>i:nth-child(1){
	color:blue;
}

/*///////////////////////////////// Experience /////////////////////////////////*/

#experience>section{
	text-align: left;
	align-items: left;
	justify-content: left;
}

.xp_entry{
	display: -ms-flexbox;
	display: flex;
	-ms-flex-flow: row wrap;
	flex-flow: row wrap;
}

.xp_header{
	width: 20%;
	display: -ms-flexbox;
	display: flex;
	flex-flow: column wrap;
}

.xp_header >.xp_title{
	font-size: 1em;
	font-weight: 600;
}

.xp_header >.xp_time{
	font-size: 1em;
	font-weight: 600;
}

.xp_entry_descrip{
	width: 80%;
	display: -ms-flexbox;
	display: flex;
	flex-flow: column wrap;
	padding-left: 1.5em;
}

.xp_entry_descrip>.xp_descrip_degree{
	font-size: 1em;
	font-weight: 600;
}

#footerId{
	height: 250px;
	margin: 0px auto;
	display: flex;
	background-color: #015249;
	flex-direction: column;
	padding: 0px;}
	@media print, screen and (min-width: 40em){
		#footerId{
			padding: 0px 40px;
		}
	}
	@media print, screen and (min-width: 64em){
		#footerId{
			padding: 0px 100px;
		}
	}

.social_icon{
	height: 30px;
	width: auto;
}