#headerImage {
	height:100vh;
	max-height: 50em;
	margin:0px auto;
	display:flex;
	flex-direction: column;
	background-image:url('/img/astronomy-beautiful-clouds-355465.jpg');
	background-size:cover;
	background-repeat:no-repeat;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	background-position: right;
	/*filter: drop-shadow(0 1em 1em -1em rgb(0, 0, 0, 0.6));*/
	box-shadow: 0 1em 1em rgb(0, 0, 0, 0.6);
}

#headerName{
	font-weight: 600;
	border-bottom: 1px solid #FFF;
	font-size: 4em;
	color:#FFF;
}

#headerCarrier{
	font-size: 2em;
	color:#FFF;
}

.title_container{
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

/*////////////////////////////// Tool Bar ///////////////////////////////*/
.tool_bar{
	background-color: transparent;
	color: white;
	align-content: center;
	justify-content: center;
	border-top: 1px solid;
}
	.tool_bar a{
		color: white;
		/*font-size: 1.25em*/
	}
	.tool_bar ul{
		background-color: transparent;
	}

.tool_bar_list{
	background-color: transparent;
}

.nav_elements{
	background-color: transparent;
}