#headerImage {
	height:100vh;
	max-height: 50em;
	margin:0px auto;
	display:flex;
	flex-direction: column;
	background-image:url('/img/astronomy-beautiful-clouds-355465.jpg');
	background-size:cover;
	background-repeat:no-repeat;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	background-position: right;
	/*filter: drop-shadow(0 1em 1em -1em rgb(0, 0, 0, 0.6));*/
	box-shadow: 0 1em 1em rgb(0, 0, 0, 0.6);
}

#headerName{
	font-weight: 600;
	border-bottom: 1px solid #FFF;
	font-size: 4em;
	color:#FFF;
}

#headerCarrier{
	font-size: 2em;
	color:#FFF;
}

.title_container{
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

/*////////////////////////////// Tool Bar ///////////////////////////////*/
#header-navbar-container{
	width: 100%;
	height: 60px
}

.tool_bar{
	background-color: transparent;
	color: white;
	align-content: center;
	justify-content: center;
	border-top: 1px solid;
	width: 100%;
	transition: background-color 0.3s ease;
}
	#main_navbar>.tool_bar_list{
		background-color: transparent;
		width: 100%;
		display:flex;
		justify-content: center;
	}
	.nav_elements{
		flex: 0 1 85px;
		background-color: transparent;
	}
	.nav_elements>a{
		color: white;
		/*font-size: 1.25em*/
	}

.main_navbar_scroll{
	position: fixed;
	top:0;
	background-color: #000000; 
	border-top: none;
	/*transition: background-color 1s ease;*/
}